<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (tickets.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Date</th>
                        <th scope="col">Comments</th>
                        <th scope="col">
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach((ticket, index) => { %>
                        <tr>
                            <td><%= ticket.ticket_id %></td>
                            <td><%= ticket.user_id %></td>
                            <td><%= ticket.date_created %></td>
                            <td><%= ticket.comments %></td>
                            <td><%= ticket.status %></td>
                            <td>
                                <a href="/edit/<%= ticket.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= ticket.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No tickets found. Go <a href="/add" >here</a> to add tickets.</p>
        <% } %>
    </div>
</div>
</body>
</html>